@use 'tailwind.css'

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Martian+Mono:wght@100..800&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap')

html
  font-size: calc(100vw / 375 * 16)
  @media ( min-width: 500px )
    font-size: calc(100vw / 1440 * 16)

body
  font-family: 'Geologica', sans-serif
  line-height: 1.5

.container-block
  width: 100%
  margin: 0 auto
  &--normal
    max-width: 70rem
  &--small
    max-width: 46rem

.hidden-scrollbar
  scrollbar-width: none

.ticket
  &-t
    background: url('/ticket-t.svg') 50% 100% / 14rem repeat-x 
  &-b
    background: url('/ticket-b.svg') 50% 0% / 14rem repeat-x 
  &-d
    background: url('/ticket-d.svg') 50% 50% / 10rem repeat-x 
